@use 'utils';


.header {
	padding: 3rem 10rem;

	@include utils.flexbox(row, flex-start);

	font-weight: var(--thick-font-weight);
}

.header__nav {
	width: 35%;

	@include utils.flexbox(row, space-evenly);
}

.header__account-stuff {
	width: 25%;
	margin-left: auto;

	@include utils.flexbox(row, space-evenly);
}

.header__login-btn {
	color: inherit;
	background: none;
}

.header__sign-up-btn {
	padding: 0.5rem 1.5rem;
}
