@use 'utils';


.header {
	width: 100%;
	padding: 0px 10rem;

	@include utils.flexbox(row, flex-start);

	font-weight: var(--thick-font-weight);
}

.header__nav {
	width: 35%;

	@include utils.flexbox(row, space-evenly);
}

.header__account-stuff {
	width: 20%;
	margin-left: auto;

	@include utils.flexbox(row, space-evenly);
}

.header__login-btn {
	background: none;
	color: var(--neutral-grayish-violet);
}

.header__sign-up-btn {
	padding: 0.5rem 1.5rem;
}
