@use 'utils';


.shorten-section {
	--shorten-section-vertical-padding: 3rem;
	padding: var(--shorten-section-vertical-padding) 0px;

	position: relative;

	&::after {
		content: '';
		display: block;
		z-index: -2;

		width: 100vw;
		height: 100%;

		position: absolute;
		top: 0;
		left: calc(-1 * var(--main-side-padding));

		background-color: var(--neutral-foreign-gray);
	}
}

.shorten-section__form {
	width: 100%;
	aspect-ratio: 185 / 28;
	padding: 0px 4rem;

	font-size: clamp(1rem, 5vw, 1.2rem);

	background-color: var(--primary-dark-violet);
	background-image: url("images/bg-shorten-desktop.svg");
	background-size: contain;
	border-radius: var(--main-border-radius);

	@include utils.flexbox(row, space-between);

	position: relative;

	&::after {
		content: '';
		display: block;
		z-index: -1;

		width: 100vw;
		height: calc(50% + var(--shorten-section-vertical-padding));

		position: absolute;
		top: calc(-1 * var(--shorten-section-vertical-padding));
		left: calc(-1 * var(--main-side-padding));

		background-color: white;
	}
}

.shorten-section__url-input {
	height: 40%;
	width: 78%;
	padding-left: 2rem;

	border-radius: inherit;

	// Firefox lowers the opacity by default
	&::placeholder { opacity: 1 }
}

.shorten-section__process-btn {
	height: 40%;
	width: 18%;

	line-height: 1rem;

	border-radius: inherit;
}

@media (max-width: 1000px) and (min-width: 601px) {
	.shorten-section__form {
		padding: 1rem;

		&>* {
			height: 100%;
		}
	}

	.shorten-section__process-btn {
		font-size: clamp(1rem, 2.5vw, 2rem);
	}
}


@media (max-width: 600px) {
	.shorten-section__form {
		flex-direction: column;

		aspect-ratio: 237 / 110;
		background-image: url("./images/bg-shorten-mobile.svg");
		background-repeat: no-repeat;
		background-position-x: right;
		background-size: 70%;

		padding: 1.2rem 1.2rem;
	}

	.shorten-section__url-input {
		width: 100%;
		height: 45%;

		padding-left: 1rem;
	}

	.shorten-section__process-btn {
		width: 100%;
		height: 45%;
	}
}
