@use 'header';
@use 'landing-section';
@use 'shortener-section';
@use 'feature-section';
@use 'cta-section';
@use 'footer';
@use 'attribution';

/* Global vars */
:root {
	--primary-cyan: hsl(180, 66%, 49%);
	--primary-dark-violet: hsl(257, 27%, 26%);

	--secondary-red: hsl(0, 87%, 67%);

	--neutral-gray: hsl(0, 0%, 75%);
	--neutral-foreign-gray: hsl(225, 33%, 95%);
	--neutral-grayish-violet: hsl(257, 7%, 63%);
	--neutral-dark-blue: hsl(255, 11%, 22%);
	--neutral-dark-violet: hsl(260, 8%, 14%);

	--thin-font-weight: 500;
	--thick-font-weight: 700;

	--main-border-radius: 10px;
	--main-side-padding: 7vw;

	--button-transition-time: 0.25s;
}

/* CSS RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;

	font: inherit;
	color: inherit;
}

html {
	font-family: 'Poppins', sans-serif;

	line-height: 1.5;
	color: var(--neutral-grayish-violet);
}

a {
	text-decoration: none;
}

html, body, main {
	width: clamp(300px, 100vw, 2500px);
	position: relative;

	overflow-x: hidden;
}

section, footer, header {
	width: 100%;
}

main {
	padding: 0px var(--main-side-padding);
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
	padding: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--thick-font-weight);
	line-height: 1.2;
	color: var(--neutral-dark-blue);
}

button {
	background-color: var(--primary-cyan);
	color: white;

	border-radius: 9999px;

	font-weight: var(--thick-font-weight);

	transition: background-color var(--button-transition-time);
}

button:hover {
	background-color: #8ff2f2;
}
