@use 'utils';


.cta-section {
	background-color: var(--primary-dark-violet);
	background-image: url("images/bg-boost-desktop.svg");
	background-size: cover;

	width: 100%;
	aspect-ratio: 144 / 25;

	@include utils.flexbox(column);

	padding: 1rem;
}

.cta-section__title {
	color: white;
	font-size: 2.3rem;

	text-align: center;
}

.cta-section__btn {
	font-size: 1.4rem;

	margin-top: 1.5rem;
	padding: 0.8rem 3rem;
}

@media screen and (max-width: 600px) {
	.cta-section {
		background-image: url("images/bg-boost-mobile.svg");
		aspect-ratio: 5 / 4;
	}
}
