@use 'sass:list';
@use 'utils';


.feature-section {
	position: relative;

	font-size: clamp(1rem, 1vw, 1.2rem);
	@include utils.flexbox(column);

	&::before {
		content: '';
		display: block;
		z-index: -1;

		width: 100vw;
		height: 100%;
		position: absolute;

		background-color: var(--neutral-foreign-gray);
	}
}

.feature-section__title {
	margin-top: 4rem;
	font-size: clamp(1.6rem, 2vw, 2.5rem);
}

.feature-section__desc {
	margin-top: 1rem;

	text-align: center;
}

.feature-section__container {
	width: 100%;
	height: 80vh;
	padding: 4rem 0px 8rem 0px;
	position: relative;

	@include utils.flexbox(row, space-between);

	&::after {
		content: '';
		display: block;

		width: 100%;
		position: absolute;
		z-index: -1;

		border-bottom: solid 10px var(--primary-cyan);
	}
}

$flex-align-vals: [flex-start, center, flex-end];
$feature-img-url: ["brand-recognition.svg", "detailed-records.svg", "fully-customizable.svg"];

.feature-box {
	padding: 5rem 2rem 3rem 2rem;
	width: 32%;
	position: relative;

	border-radius: var(--main-border-radius);
	background-color: white;

	&::after {
		width: 5rem;
		aspect-ratio: 1 / 1;

		position: absolute;
		top: -2.5rem;

		@include utils.flexbox(row);

		border-radius: 50%;
		background-color: var(--primary-dark-violet);
	}

	@for $i from 1 through 3 {
		&:nth-child(#{$i}) {
			align-self: #{list.nth($flex-align-vals,$i)};
			&::after { content: url("images/icon-" + #{list.nth($feature-img-url, $i)}) }
		}
	}
}

.feature-box__title {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}


@media screen and (max-width: 1000px) {
	.feature-section {
		padding-left: clamp(0.1rem, 10vw, 20rem);
		padding-right: clamp(0.1rem, 10vw, 20rem);
	}

	.feature-section__title {
		margin-top: 2rem;
	}

	.feature-section__container {
		flex-direction: column;
		height: fit-content;

		padding-top: 1rem;

		&::after {
			width: 10px;
			height: 500px;

			border: none;
			background-color: var(--primary-cyan);

			// Classic centering trick
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.feature-box {
		width: 100%;
		margin-top: 100px;
		@for $i from 1 through 3 {
			&:nth-child(#{$i}) { align-self: center; }
		}
	}
}

@media screen and (max-width: 600px) {
	.feature-section {
		padding: 0;
	}
}
