@use 'utils';


.notification-container {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;

	width: 50vw;
	height: 100vh;

	pointer-events: none;

	@include utils.flexbox(column, flex-end, flex-start);
}

.notification {
	display: block;

	width: 10rem;
	height: 3.5rem;
	padding: 1rem;

	background-color: white;
	outline: 1px solid var(--primary-cyan);
}

.notification--error {
	outline-color: var(--secondary-red);
}

.notification--info {
	outline-color: var(--secondary-green);
}
