@use 'utils';


.notification-container {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;

	width: 50vw;
	height: 100vh;
	padding: 20px;

	pointer-events: none;

	@include utils.flexbox(column, flex-end, flex-start);
	gap: 10px;
}

.notification {
	display: block;

	width: 10rem;
	height: 3.5rem;
	padding: 1rem;

	border-radius: var(--main-border-radius);

	background-color: white;
	outline: 3px solid var(--primary-cyan);

	animation:
		0.5s ease-out 0s forwards slideIn,
		0.5s ease-in 3s forwards slideOut;
}

@keyframes slideIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.notification--error {
	outline-color: var(--secondary-red);
	color: var(--secondary-red);
}

.notification--info {
	outline-color: var(--secondary-green);
	color: var(--secondary-green);
}
